<h1>Welcome to Playlister</h1>

<ul>
  <li><a href="/songs/new">Add a New Song</a></li>
  <li><a href="/songs">List Songs</a></li>
  <li><a href="/artists">List Artists</a></li>
  <li><a href="/artists">List Genres</a></li>
</ul>